@import "tailwindcss";




@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-off-white: #F9F9F9;
  --color-sage: #CAE894;
  --color-sage-2: #A4C8A1;
  --color-dark-green:#224C25;
  --color-dark-violet:#3E0B5E;

}

